# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Model weights / embeddings / large files
#*.pt
*.pkl

# Uploads and temp images
#uploads/
#database_sinh_vien/

# Node modules (nếu có)
node_modules/